<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Random Harmony</title>
    <link href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="icon" href="../public/music_icon.png" />
  </head>
  <body class="h-100 d-flex justify-content-center">
    <section
      id="main-section"
      class="d-flex flex-column justify-content-center align-items-center text-white h-100 w-75 rounded"
    >
      <h1 id="welcome-message">Hello randomaster practicioner!</h1>
      <div class="container">
        <div class="row">
          <div
            class="d-flex flex-column justify-content-center align-items-center col"
            id="selected-group"
          >
            <h3>here you go:</h3>
            <span id="selected-item"></span>
            <button type="button" class="btn btn-secondary" onclick="next()">
              Next
            </button>
            <button
              type="button"
              class="btn btn-danger m-5"
              onclick="shuffle()"
            >
              Shuffle
            </button>
          </div>
          <ol id="items-list" class="col-2"></ol>
        </div>
      </div>
    </section>
    <script src="../public/jquery.js"></script>
    <script src="../public/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
